* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;

}

.wrapper {
    margin: 40px 20px;
}

h1 {
    margin-bottom: 20px;
}

h2 {
    margin:20px 0;
}

.fade-enter {
    opacity: 0;
}
.fade-enter-active {
    opacity: 1;
    transition: opacity 200ms;
}
.fade-exit {
    opacity: 1;
}
.fade-exit-active {
    opacity: 0;
    transition: opacity 200ms;
}
